Interop/meteo.dtd

<!ELEMENT meteo (date, prevision+)>
<!ELEMENT date (#PCDATA)>

<!ELEMENT prevision (temperature?, precipitation?, vent?, conditions?)>
<!ATTLIST prevision periode (matin|apres-midi|soir) #REQUIRED>

<!ELEMENT temperature EMPTY>
<!ATTLIST temperature 
    min CDATA #REQUIRED
    max CDATA #REQUIRED>

<!ELEMENT precipitation EMPTY>
<!ATTLIST precipitation 
    probabilite CDATA #REQUIRED
    type (pluie|neige|faible) #REQUIRED>

<!ELEMENT vent EMPTY>
<!ATTLIST vent 
    force CDATA #REQUIRED
    direction CDATA #REQUIRED>

<!ELEMENT conditions (#PCDATA)>
